//@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic,500italic,700italic&subset=latin,cyrillic);

@import "modules/base";
@import "modules/reset";
@import "modules/grid";
@import "modules/icons";
@import "modules/b-text";
html, body{
    height: 100%;
}
body{
    min-width: 895px;
}
.wrap{
    min-height: 100%;
    padding: em(97) 0 em(120) 0;
    box-sizing: border-box;
    min-width: 985px;
    position: relative;
}
.container{
    max-width:1200px;
    min-width:895px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 em(250) 0 em(250);
    margin: 0 auto;
    transition: padding .3s;
    &.maximized{
        padding: 0 em(70) 0 em(70);
    }
}
strong{
    font-weight: 700;
}
em{
    font-style: italic;
}
.align-right{
    text-align: right;
}
.post-preloader{
    img{
        display: block;
        margin: 0 auto;
    }
}
sup{
    font-size: 0.75em;
    vertical-align: top;
    margin-top: -5px;
    display: inline-block;
}
.pr{
    &-button, &-file .jq-file__browse{
        display: inline-block;
        $font-size: 13;
        font-size: em($font-size);
        border: none;
        background-color: $color_2;
        line-height: 1.5;
        color: $color_1;
        margin: 0 em(7, $font-size) 0 0;
        padding: em(2, $font-size) em(15, $font-size);
        cursor: pointer;
        transition: background-color .3s;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            background-color: darken($color_2, 20);
        }
        &_dark{
            background-color: $color_3;
            &:hover{
                background-color: darken($color_3, 20);
            }
        }
        &_gray{
            background-color: $color_4;
            &:hover{
                background-color: darken($color_4, 20);
            }
        }
    }
    &-file_gray .jq-file__browse{
        background-color: $color_4;
        &:hover{
            background-color: darken($color_4, 20);
        }
    }
    &-file.jq-file{
        vertical-align: top;
        .jq-file__name{
            display: inline-block;
            vertical-align: middle;
            $font-size: 15;
            font-size: em($font-size);
            margin: 0 em(10, $font-size) 0 0;
            max-width: 150;
            overflow: hidden;
        }
    }
    &-scroll-top{
        display: block;
        border: 0;
        background-color: transparent;
        position: fixed;
        bottom: 30px;
        left: 30px;
        z-index: 50;
        width: 16px;
        height: 16px;
        cursor: pointer;
        opacity: 0;
    }

    &-video{
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        margin-bottom: em(10);
    }
    &-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.ui-tooltip{
    position: absolute;
    background: $color_1;
    border:1px solid $color_4;
    color: $color_4;
    $font-size: 13;
    font-size: em($font-size);
    padding: em(6, $font-size) em(13, $font-size);
    font-style: italic;
    z-index: 100;
    &:after, &:before{
        content:"";
        display: block;
        position: absolute;
        border-top:11px solid $color_4;
        border-left:9px solid transparent;
        border-right:9px solid transparent;
        bottom: -11px;
        left: 50%;
        margin-left: -9px;
    }
    &:after{
        border-top:9px solid $color_1;
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        z-index: 10;
        bottom: -9px;
        margin-left: -7px;
    }
}
.ui-helper-hidden-accessible{
    width: 0;
    height: 0;
    overflow: hidden;
}
@import "modules/b-header";
@import "modules/b-sidebar";
@import "modules/b-sort";
@import "modules/b-page";
@import "modules/b-notice";
@import "modules/b-login";
@import "modules/b-table";
@import "modules/b-user";
@import "modules/b-post";
@import "modules/b-social";
@import "modules/b-comment";
@import "modules/b-spoiler";
@import "modules/b-footer";
@import "modules/b-form";
@import "modules/b-settings";
@import "modules/b-cpost";
@media (max-width: 1150px){
    .container{
        padding-right: em(30);
    }
}