@@include('blocks/_b-header.html')
<div class="container">
    <div class="b-page">
        <h1 class="b-page__title">Избранное</h1>
        <div class="b-page__content">
            <table class="b-table">
                <tbody>
                <tr>
                    <td>
                        <div class="b-user">
                            <div class="b-table__pd">
                                <a  class="b-table__pd-post" href="post.html">Есть ли смысл на Марсе</a>
                                <span class="b-table__pd-date icon4">Добавлено 2014-09-09</span>
                            </div>
                        </div>
                    </td>
                    <td><a class="b-table__remove icon31" title="Удалить из избраного" href="#"></a></td>
                </tr>
                <tr>
                    <td>
                        <div class="b-user">
                            <div class="b-table__pd">
                                <a  class="b-table__pd-post" href="post.html">Есть ли смысл на Марсе</a>
                                <span class="b-table__pd-date icon4">Добавлено 2014-09-09</span>
                            </div>
                        </div>
                    </td>
                    <td><a class="b-table__remove icon31" title="Удалить из избраного" href="#"></a></td>
                </tr>
                <tr>
                    <td>
                        <div class="b-user">
                            <div class="b-table__pd">
                                <a  class="b-table__pd-post" href="post.html">Есть ли смысл на Марсе</a>
                                <span class="b-table__pd-date icon4">Добавлено 2014-09-09</span>
                            </div>
                        </div>
                    </td>
                    <td><a class="b-table__remove icon31" title="Удалить из избраного" href="#"></a></td>
                </tr>
                <tr>
                    <td>
                        <div class="b-user">
                            <div class="b-table__pd">
                                <a  class="b-table__pd-post" href="post.html">Есть ли смысл на Марсе</a>
                                <span class="b-table__pd-date icon4">Добавлено 2014-09-09</span>
                            </div>
                        </div>
                    </td>
                    <td><a class="b-table__remove icon31" title="Удалить из избраного" href="#"></a></td>
                </tr>
                <tr>
                    <td>
                        <div class="b-user">
                            <div class="b-table__pd">
                                <a  class="b-table__pd-post" href="post.html">Есть ли смысл на Марсе</a>
                                <span class="b-table__pd-date icon4">Добавлено 2014-09-09</span>
                            </div>
                        </div>
                    </td>
                    <td><a class="b-table__remove icon31" title="Удалить из избраного" href="#"></a></td>
                </tr>
                <tr>
                    <td>
                        <div class="b-user">
                            <div class="b-table__pd">
                                <a  class="b-table__pd-post" href="post.html">Есть ли смысл на Марсе</a>
                                <span class="b-table__pd-date icon4">Добавлено 2014-09-09</span>
                            </div>
                        </div>
                    </td>
                    <td><a class="b-table__remove icon31" title="Удалить из избраного" href="#"></a></td>
                </tr>
                <tr>
                    <td>
                        <div class="b-user">
                            <div class="b-table__pd">
                                <a  class="b-table__pd-post" href="post.html">Есть ли смысл на Марсе</a>
                                <span class="b-table__pd-date icon4">Добавлено 2014-09-09</span>
                            </div>
                        </div>
                    </td>
                    <td><a class="b-table__remove icon31" title="Удалить из избраного" href="#"></a></td>
                </tr>
                <tr>
                    <td>
                        <div class="b-user">
                            <div class="b-table__pd">
                                <a  class="b-table__pd-post" href="post.html">Есть ли смысл на Марсе</a>
                                <span class="b-table__pd-date icon4">Добавлено 2014-09-09</span>
                            </div>
                        </div>
                    </td>
                    <td><a class="b-table__remove icon31" title="Удалить из избраного" href="#"></a></td>
                </tr>
                <tr>
                    <td>
                        <div class="b-user">
                            <div class="b-table__pd">
                                <a  class="b-table__pd-post" href="post.html">Есть ли смысл на Марсе</a>
                                <span class="b-table__pd-date icon4">Добавлено 2014-09-09</span>
                            </div>
                        </div>
                    </td>
                    <td><a class="b-table__remove icon31" title="Удалить из избраного" href="#"></a></td>
                </tr>
                <tr>
                    <td>
                        <div class="b-user">
                            <div class="b-table__pd">
                                <a  class="b-table__pd-post" href="post.html">Есть ли смысл на Марсе</a>
                                <span class="b-table__pd-date icon4">Добавлено 2014-09-09</span>
                            </div>
                        </div>
                    </td>
                    <td><a class="b-table__remove icon31" title="Удалить из избраного" href="#"></a></td>
                </tr>
                <tr>
                    <td>
                        <div class="b-user">
                            <div class="b-table__pd">
                                <a  class="b-table__pd-post" href="post.html">Есть ли смысл на Марсе</a>
                                <span class="b-table__pd-date icon4">Добавлено 2014-09-09</span>
                            </div>
                        </div>
                    </td>
                    <td><a class="b-table__remove icon31" title="Удалить из избраного" href="#"></a></td>
                </tr>
                <tr>
                    <td>
                        <div class="b-user">
                            <div class="b-table__pd">
                                <a  class="b-table__pd-post" href="post.html">Есть ли смысл на Марсе</a>
                                <span class="b-table__pd-date icon4">Добавлено 2014-09-09</span>
                            </div>
                        </div>
                    </td>
                    <td><a class="b-table__remove icon31" title="Удалить из избраного" href="#"></a></td>
                </tr>
                </tbody>
            </table>
            <div class="post-preloader">
                <img src="images/loader.gif" alt="preloader" width="47" height="47"/>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')