<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Icons demo</title>
</head>
<body>
<ol style="background-color: #ccc;">
    <li></li>
    <li><img src="images/b64/letter_icon.svg" alt=""/></li>
    <li></li>
    <li><img src="images/b64/clock_icon.svg" alt=""/></li>
    <li><img src="images/b64/new_icon.svg" alt=""/></li>
    <li><img src="images/b64/my_icon.svg" alt=""/></li>
    <li><img src="images/b64/settings_icon.svg" alt=""/></li>
    <li></li>
    <li></li>
    <li><img src="images/b64/faq_icon.svg" alt=""/></li>
    <li><img src="images/b64/minimize_icon.svg" alt=""/></li>
    <li><img src="images/b64/close_icon.svg" alt=""/></li>
    <li><img src="images/b64/people_icon.svg" alt=""/></li>
    <li><img src="images/b64/login_icon.svg" alt=""/></li>
    <li><img src="images/b64/vk_icon.svg" alt=""/></li>
    <li><img src="images/b64/fb_icon.svg" alt=""/></li>
    <li><img src="images/b64/od_icon.svg" alt=""/></li>
    <li><img src="images/b64/gplus_icon.svg" alt=""/></li>
    <li><img src="images/b64/mailru_icon.svg" alt=""/></li>
    <li><img src="images/b64/author_icon.svg" alt=""/></li>
    <li></li>
    <li></li>
    <li><img src="images/b64/reit_icon.svg" alt=""/></li>
    <li><img src="images/b64/like_icon.svg" alt=""/></li>
    <li><img src="images/b64/unlike_icon.svg" alt=""/></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li><img src="images/b64/remove_icon.svg" alt=""/></li>
    <li></li>
    <li><img src="images/b64/search-mobile_icon.svg" alt=""/></li>
    <li><img src="images/b64/sidebar-mobile_icon.svg" alt=""/></li>
    <li><img src="images/b64/desktop-icon.svg" alt=""/></li>
    <li><img src="images/b64/comments-mobile_icon.svg" alt=""/></li>
    <li><img src="images/b64/share_icon.svg" alt=""/></li>
    <li><img src="images/b64/faforite-mobile_icon.svg" alt=""/></li>
</ol>
</body>
</html>