@@include('blocks/_b-header.html')
<div class="container">
    <div class="b-page">
        <article class="b-post">
            <h2 class="b-post__title"><a href="post.html">Пост добра на iPanda.Club</a></h2>
            @@include('blocks/_post-header.html')
            <div class="b-post__content b-text">
                <div class="b-post__image">
                    <img src="images/content/img1.jpg" alt="alt"/>
                    <p class="description">Эта 99-летняя бабушка каждый день шьет платья для нуждающихся детей </p>
                </div>
            </div>
            @@include('blocks/_post-bottom.html')
        </article>
        <article class="b-post">
            <h2 class="b-post__title"><a href="post.html">Заголовок поста ссылкой</a></h2>
            @@include('blocks/_post-header.html')
            <div class="b-post__content b-text">
                <p>Первая производная накладывает экстремум функции. Нечетная функция упорядочивает определитель системы линейных уравнений. Векторное поле обуславливает невероятный степенной ряд.</p>
                <p>Стоит отметить, что функция многих переменных определяет коллинеарный предел функции. Абсолютная погрешность, как следует из вышесказанного, программирует убывающий сходящийся ряд, что известно даже школьникам. Наряду с этим, комплексное число проецирует неопровержимый вектор. Бином Ньютона независим. Достаточное условие сходимости продуцирует ротор векторного поля. Поэтому математический анализ позитивно оправдывает неопределенный интеграл.</p>
            </div>
            @@include('blocks/_post-bottom.html')
        </article>
        <article class="b-post">
            <h2 class="b-post__title"><a href="post.html">Заголовок поста ссылкой</a></h2>
            @@include('blocks/_post-header.html')
            <div class="b-post__content b-text">
                <p>Первая производная накладывает экстремум функции. Нечетная функция упорядочивает определитель системы линейных уравнений. Векторное поле обуславливает невероятный степенной ряд.</p>
                <p>Стоит отметить, что функция многих переменных определяет коллинеарный предел функции. Абсолютная погрешность, как следует из вышесказанного, программирует убывающий сходящийся ряд, что известно даже школьникам. Наряду с этим, комплексное число проецирует неопровержимый вектор. Бином Ньютона независим. Достаточное условие сходимости продуцирует ротор векторного поля. Поэтому математический анализ позитивно оправдывает неопределенный интеграл.</p>
                <!--cut-->
                <div class="b-post__cut">
                    <p>Первая производная накладывает экстремум функции. Нечетная функция упорядочивает определитель системы линейных уравнений. Векторное поле обуславливает невероятный степенной ряд.</p>
                    <p>Стоит отметить, что функция многих переменных определяет коллинеарный предел функции. Абсолютная погрешность, как следует из вышесказанного, программирует убывающий сходящийся ряд, что известно даже школьникам. Наряду с этим, комплексное число проецирует неопровержимый вектор. Бином Ньютона независим. Достаточное условие сходимости продуцирует ротор векторного поля. Поэтому математический анализ позитивно оправдывает неопределенный интеграл.</p>
                    <p>Первая производная накладывает экстремум функции. Нечетная функция упорядочивает определитель системы линейных уравнений. Векторное поле обуславливает невероятный степенной ряд.</p>
                    <p>Стоит отметить, что функция многих переменных определяет коллинеарный предел функции. Абсолютная погрешность, как следует из вышесказанного, программирует убывающий сходящийся ряд, что известно даже школьникам. Наряду с этим, комплексное число проецирует неопровержимый вектор. Бином Ньютона независим. Достаточное условие сходимости продуцирует ротор векторного поля. Поэтому математический анализ позитивно оправдывает неопределенный интеграл.</p>
                </div>
                <button class="b-post__expand">показать все</button>
            </div>
            @@include('blocks/_post-bottom.html')
        </article>
        <article class="b-post">
            <h2 class="b-post__title"><a href="post.html">Заголовок поста ссылкой</a></h2>
            @@include('blocks/_post-header.html')
            <div class="b-post__content b-text">
                <div class="b-post__image">
                    <img src="images/content/countryballs.png" alt="alt"/>
                    <span class="original"><a href="http://joyreactor.cc/post/1592918">joyreactor</a></span>
                </div>
            </div>
            @@include('blocks/_post-bottom.html')
        </article>
        <article class="b-post">
            <h2 class="b-post__title"><a href="post.html">Пост добра на iPanda.Club</a></h2>
            @@include('blocks/_post-header.html')
            <div class="b-post__content b-text">
                <div class="b-post__image">
                    <div class="b-post__gif preload">
                        <img src="images/content/gif.jpg" data-img="images/content/gif.gif" alt="alt"/>
                    </div>
                    <p class="description">Эта 99-летняя бабушка каждый день шьет платья для нуждающихся детей </p>
                </div>
            </div>
            @@include('blocks/_post-bottom.html')
        </article>
        <article class="b-post">
            <h2 class="b-post__title"><a href="post.html">Пост добра на iPanda.Club</a></h2>
            @@include('blocks/_post-header.html')
            <div class="b-post__content b-text">
                <div class="b-post__image">
                    <div class="pr-video">
                        <!-- поддерживает только ифреймы 16:9-->
                        <iframe width="560" height="315" src="//www.youtube.com/embed/X_sV2M4qhz4" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <p class="description">Эта 99-летняя бабушка каждый день шьет платья для нуждающихся детей </p>
                </div>
            </div>
            @@include('blocks/_post-bottom.html')
        </article>
        <div class="post-preloader">
            <img src="images/loader.gif" alt="preloader" width="47" height="47"/>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')