@@include('blocks/_b-header.html')
<div class="container">
    <div class="b-page">
        <h1 class="b-page__title">Уведомления</h1>
        <div class="b-page__content">
            <div class="b-notice b-notice_new row">
                <div class="b-notice__header">
                    <img class="b-notice__avatar" src="images/content/avatar_2.jpg" alt="Бетманойдер" width="49" height="49"/>
                    <a class="b-notice__user" href="index.html">Бетманойдер</a>
                    <!-- ГГГГ-ММ-ДДTчч:мм -->
                    <time class="b-notice__time icon4" datetime="2014-09-09T12:10">2014-09-09 — 12:10</time>
                </div>
                <div class="b-notice__reason">
                    <p>Понравился ваш комментарий к «<a class="b-notice__postlink" href="post.html">Есть ли смысл на марсе</a>»</p>
                </div>
            </div>
            <div class="b-notice b-notice_new b-notice_t-comment row">
                <div class="b-notice__header">
                    <img class="b-notice__avatar" src="images/content/avatar_3.jpg" alt="РоссомашЫч" width="49" height="49"/>
                    <a class="b-notice__user" href="index.html">РоссомашЫч</a>
                    <time class="b-notice__time icon4" datetime="2014-09-09T12:10">2014-09-09 — 12:10</time>
                </div>
                <div class="b-notice__reason">
                    <p>Ответил на ваш комментарий к «<a class="b-notice__postlink" href="post.html">Есть ли смысл на марсе</a>»</p>
                </div>
                <div class="b-notice__content">
                    <p>Нонаккорд иллюстрирует деструктивный цикл, это и есть одномоментная вертикаль в сверхмногоголосной полифонической ткани. Соноропериод просветляет септаккорд. Адажио последовательно.</p>
                </div>
            </div>
            <div class="b-notice row">
                <div class="b-notice__header">
                    <img class="b-notice__avatar" src="images/content/avatar_4.jpg" alt="Ацкий Сотона" width="49" height="49"/>
                    <a class="b-notice__user" href="index.html">Ацкий Сотона</a>
                    <time class="b-notice__time icon4" datetime="2014-09-09T12:10">2014-09-09 — 12:10</time>
                </div>
                <div class="b-notice__reason">
                    <p>и еще 10 пользователям — Понравился ваш пост «<a class="b-notice__postlink" href="post.html">Заголовок  решает</a>»</p>
                </div>
            </div>
            <div class="b-notice row">
                <div class="b-notice__header">
                    <img class="b-notice__avatar" src="images/content/avatar_5.jpg" alt="Сулейман ибн Даде" width="49" height="49"/>
                    <a class="b-notice__user" href="index.html">Сулейман ибн Даде</a>
                    <time class="b-notice__time icon4" datetime="2014-09-09T12:10">2014-09-09 — 12:10</time>
                </div>
                <div class="b-notice__reason">
                    <p>Добавил ваш пост в избранное «<a class="b-notice__postlink" href="post.html"><strong>Есть ли смысл на марсе</strong></a>»</p>
                </div>
            </div>
            <div class="b-notice row">
                <div class="b-notice__header">
                    <img class="b-notice__avatar" src="images/content/avatar_6.jpg" alt="Сулейман ибн Даде" width="49" height="49"/>
                    <span class="b-notice__user b-notice__user_system">Системное</span>
                    <time class="b-notice__time icon4" datetime="2014-09-09T12:10">2014-09-09 — 12:10</time>
                </div>
                <div class="b-notice__reason">
                    <p>Ваш комментарий к посту «<a class="b-notice__postlink" href="post.html"><strong>Есть ли смысл на марсе</strong></a>» получил слишком много отрицательных оценок, и будет скрыт</p>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')