@@include('blocks/_b-header.html')
<div class="container">
    <div class="b-page">
        <div class="b-login">
            <h2 class="b-login__title">Личный кабинет</h2>
            <div class="b-login__content">
                <form action="/">
                    <div class="b-login__el">
                        <input class="b-login__text" type="text" placeholder="Ел.почта"/>
                    </div>
                    <div class="b-login__el">
                        <button class="b-login__submit" type="submit">Востановить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')