.b-page{
    padding: em(41) 0 em(20);
    &__title{
        color: $color_3;
        $font-size: 24;
        font-size: em($font-size);
        padding: 0 0 em(18, $font-size) em(15, $font-size);
    }
    &__content{
        background-color: #fff;
        box-shadow: 0 0 3px rgba(2, 3, 3, 0.15);
    }
    &__subtitle{
        $font-size: 25;
        font-size: em($font-size);
        padding: em(25, $font-size) 0 em(10, $font-size);
    }
}