/*.icon1{
    background-image: url(../images/b64/search_icon.svg);
}

.icon3{
    background-image: url(../images/b64/menu_icon.svg);
}





*/
.icon2{
    background-image: url(../images/b64/letter_icon.svg);
}
.icon4{
    background-image: url(../images/b64/clock_icon.svg);
}
.icon5{
    background-image: url(../images/b64/new_icon.svg);
}
.icon6{
    background-image: url(../images/b64/my_icon.svg);
}
.icon7{
    background-image: url(../images/b64/settings_icon.svg);
}
.icon8{
    background-image: url(../images/b64/favorit_icon.svg);
}
.icon9{
    background-image: url(../images/b64/quit_icon.svg);
}
.icon10{
    background-image: url(../images/b64/faq_icon.svg);
}
.icon11{
    background-image: url(../images/b64/minimize_icon.svg);
}
.icon12{
     background-image: url(../images/b64/close_icon.svg);
}
.icon13{
    background-image: url(../images/b64/people_icon.svg);
}
.icon14{
    background-image: url(../images/b64/login_icon.svg);
}
.icon15{
    background-image: url(../images/b64/vk_icon.svg);
}
.icon16{
    background-image: url(../images/b64/fb_icon.svg);
}
.icon17{
    background-image: url(../images/b64/od_icon.svg);
}
.icon18{
    background-image: url(../images/b64/gplus_icon.svg);
}
.icon19{
    background-image: url(../images/b64/mailru_icon.svg);
}
.icon20{
    background-image: url(../images/b64/author_icon.svg);
}
.icon23{
    background-image: url(../images/b64/reit_icon.svg);
}
.icon24{
    background-image: url(../images/b64/like_icon.svg);
}
.icon25{
    background-image: url(../images/b64/unlike_icon.svg);
}
/*



.icon21{
    background-image: url(../images/b64/favorit_inv_icon.svg);
}
.icon22{
    background-image: url(../images/b64/comment_icon.svg);
}


.icon26{
    background-image: url(../images/b64/vk_inv_icon.svg);
}
.icon27{
    background-image: url(../images/b64/fb_inv_icon.svg);
}
.icon28{
     background-image: url(../images/b64/od_inv_icon.svg);
 }
.icon29{
    background-image: url(../images/b64/gplus_inv_icon.svg);
}
.icon30{
    background-image: url(../images/b64/mailru_inv_icon.svg);
}

.icon32{
    background-image: url(../images/b64/tel_icon.svg);
}
*/
/*on mobile*/
.icon31{
    background-image: url(../images/b64/remove_icon.svg);
}
.icon33{
    background-image: url(../images/b64/search-mobile_icon.svg);
}
.icon34{
    background-image: url(../images/b64/sidebar-mobile_icon.svg);
}
.icon35{
    background-image: url(../images/b64/desktop-icon.svg);
}
.icon36{
    background-image: url(../images/b64/comments-mobile_icon.svg);
}
.icon37{
    background-image: url(../images/b64/share_icon.svg);
}
.icon38{
    background-image: url(../images/b64/faforite-mobile_icon.svg);
}
