                <footer class="b-footer">
                    <div class="container">
                        <button class="b-footer__scrooltop icon12"></button>
                        <p class="b-footer__copyright">&copy; 2014 All Rights Reserved. iPanda.Club</p>
                        <div class="b-footer__created">Сайт разработан в <a target="_blank" href="//mymediapro.ru" title="Создание сайтов">Mymediapro.ru</a><a
                                target="_blank" href="//mymediapro.ru"><img src="images/mmp_logo.svg" alt="Создание сайтов" width="33" height="26"  /></a></div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>