<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Если у поста нет илюстрции то должна быть данная картинка. Если страница поста и есть илюстрация то использовать ее.
    В противном случае картинку по умолчанию-->
    <meta property="og:image" content="http://p125.createme.tk/images/ipc.png" />
    <!-- Заголовок сайта который придумают позже. На страницах поста долже быть заголовок текущего поста -->
    <meta property="og:title" content="Китайская панда" />
    <!-- Описание поста. на остальных страницах описание сайта. -->
    <meta property="og:description" content="Результат теста: Дракон почти Ваш «конек»! Вы пока не можете преподавать Драконоведение, но на верном пути!" />

    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="css/style.min.css" media="all"/>
    <script src="js/01_jquery-2.0.3.min.js"></script>
    <script src="js/all.min.js"></script>
</head>
    <body>
        <div class="wrap">
            <div class="wrap__content">
                @@include('blocks/_b-sidebar.html')
                <header class="b-header">
                    <div class="b-header__top">
                        <button class="b-header__osidebar js-sidebar-control icon34 close" title="Показать сайдбар"></button>
                        <a class="b-header__logo" href="index.html" title="На главную"><img src="images/panda-logo.svg" alt="IPanda"/></a>
                        <button class="b-header__osearch js-search-control icon33 close" title="Поиск"></button>
                    </div>
                    <div class="b-header__bottom">
                        <div class="container">
                            <div class="b-sort">
                                <a class="b-sort__item current" href="index.html">Главная</a>
                                <a class="b-sort__item" href="index.html">Лучшие</a>
                                <a class="b-sort__item" href="index.html">Обсуждаемые</a>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="b-search">
                    <form action="/">
                        <input class="b-search__text" type="text" placeholder="Поиск"/>
                        <button class="b-search__submit" type="submit">найти</button>
                    </form>
                    <button class="b-search__submit js-search-control">&larr; Назад</button>
                </div>