<div class="b-post__bottom">
    <a class="b-post__m-btn icon36" href="post.html#comments" title="Комментраии"></a>
    <button class="b-post__m-btn icon37 js-show-share"></button>
    <button class="b-post__m-btn icon38"></button>
    <div class="b-post__m-share">
        <span class="b-post__m-share-t">Поделиться в соц сети</span>
        <button class="b-social__icon icon15" title="Поделиться Вконтакте" onclick="Share.vkontakte('http://p125.createme.tk/post.html','Китайская панда','http://p125.createme.tk/images/ipc.png','Самая крутая панда в мире.')"></button>
        <button class="b-social__icon icon16" title="Поделиться Facebook" onclick="Share.facebook('http://p125.createme.tk/post.html')"></button>
        <button class="b-social__icon icon17" title="Поделиться Однокласники" onclick="Share.odnoklassniki('http://p125.createme.tk/post.html','Самая крутая панда в мире.')"></button>
        <button class="b-social__icon icon18" title="Поделиться Google+" onclick="Share.gplus('http://p125.createme.tk/post.html')"></button>
        <button class="b-social__icon icon19" title="Поделиться Mail.ru" onclick="Share.mailru('http://p125.createme.tk/post.html','Китайская панда','http://p125.createme.tk/images/ipc.png','Самая крутая панда в мире.')"></button>
        <button class="b-post__m-share-cl">Закрыть</button>
    </div>
    <div class="b-post__rating">
        <span class="add icon24 pr-tooltip" title="Понравилось"></span>9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
    </div>
</div>