        </div>
        <footer class="b-footer">
            <div class="container maximized">
                <div class="b-footer__content">
                    <div class="row">
                        <div class="span4">
                            <p class="b-footer__copyright">&copy; 2014 All Rights Reserved. iPanda.Club</p>
                        </div>
                        <div class="span4">
                            <div class="b-footer__created">Сайт разрабатывается в <a target="_blank" href="//mymediapro.ru" title="Создание сайтов">Mymediapro.ru</a></div>
                        </div>
                    </div>
                    <div class="b-footer__mobile"><a href="//m.ipanda.ru">Мобильная версия</a></div>
                </div>
            </div>
        </footer>
    </body>
</html>