<aside class="b-sidebar close">
    <div class="b-sidebar__content">
        <div class="b-sidebar__item">
            <a class="b-sidebar__avatar" href="my_posts.html#new"><img src="images/content/avatar.jpg" alt="Сергеенко Андрей" /><span class="text">Сергеенко Андрей</span></a>
        </div>
        <div class="b-sidebar__item">
            <ul class="b-sidebar__menu">
                <li class="b-sidebar__menu-i"><a class="b-sidebar__menu-l icon5 anim-scroll" href="my_posts.html#new">Создать пост</a></li>
                <li class="b-sidebar__menu-i"><a class="b-sidebar__menu-l current icon6 anim-scroll" href="my_posts.html#myposts">Мои посты</a></li>
                <li class="b-sidebar__menu-i"><a class="b-sidebar__menu-l icon7" href="settings.html">Настройки</a></li>
                <li class="b-sidebar__menu-i"><a class="b-sidebar__menu-l icon8" href="favorite.html">Избранное<sup>99+</sup></a></li>
                <li class="b-sidebar__menu-i"><a class="b-sidebar__menu-l icon2" href="notice.html">Уведомления<sup>99+</sup></a></li>
                <li class="b-sidebar__menu-i"><a class="b-sidebar__menu-l icon9" href="login.html">Выйти</a></li>
            </ul>
        </div>
        <div class="b-sidebar__item">
            <ul class="b-sidebar__menu">
                <li class="b-sidebar__menu-i"><a class="b-sidebar__menu-l icon13" href="user_raiting.html">Рейтинг пользователей</a></li>
                <li class="b-sidebar__menu-i"><a class="b-sidebar__menu-l icon10" href="faq.html">FAQ</a></li>
                <li class="b-sidebar__menu-i"><a class="b-sidebar__menu-l icon32" href="#">Моб. версия</a></li>
                <!-- можно и делать ссылкой свернуть если будут проблемы при програмировании. Просто свернуть это по смылу никакая не ссылка и никуда не ведет.-->
                <li class="b-sidebar__menu-i"><span class="b-sidebar__menu-l icon11 js-minimize-sidebar">Свернуть</span></li>
            </ul>
        </div>
    </div>
    <button class="pr-scroll-top icon12"></button>
</aside>