<aside class="b-sidebar">
    <div class="b-sidebar__content">
        <div class="b-sidebar__item">
            <ul class="b-sidebar__menu">
                <li class="b-sidebar__menu-i"><a class="b-sidebar__menu-l icon5 current" href="registration.html">Регистрация</a></li>
                <li class="b-sidebar__menu-i"><a class="b-sidebar__menu-l icon14" href="login.html">Войти</a></li>
            </ul>
        </div>
        <div class="b-sidebar__item">
            <ul class="b-sidebar__menu">
                <li class="b-sidebar__menu-i"><a class="b-sidebar__menu-l icon13" href="user_raiting.html">Рейтинг пользователей</a></li>
                <li class="b-sidebar__menu-i"><a class="b-sidebar__menu-l icon10" href="faq.html">FAQ</a></li>
                <!-- можно и делать ссылкой свернуть если будут проблемы при програмировании. Просто свернуть это по смылу никакая не ссылка и никуда не ведет.-->
                <li class="b-sidebar__menu-i"><span class="b-sidebar__menu-l icon11 js-minimize-sidebar">Свернуть</span></li>
            </ul>
        </div>
    </div>
    <button class="pr-scroll-top icon12"></button>
</aside>