<div class="b-post__bottom">
    <span class="b-post__detalis-i icon22">21 <a href="post.html#comments">комментарий</a></span>
    <span class="b-post__detalis-i icon21 b-post__detalis-i_favorite"><a href="#">В избранное</a></span>
    <span class="b-post__detalis-i b-post__detalis-i_share">Поделиться
        <button class="b-social__icon icon15 pr-tooltip" title="Поделиться Вконтакте" onclick="Share.vkontakte('http://p125.createme.tk/post.html','Китайская панда','http://p125.createme.tk/images/ipc.png','Самая крутая панда в мире.')"></button>
        <button class="b-social__icon icon16 pr-tooltip" title="Поделиться Facebook" onclick="Share.facebook('http://p125.createme.tk/post.html')"></button>
        <button class="b-social__icon icon17 pr-tooltip" title="Поделиться Однокласники" onclick="Share.odnoklassniki('http://p125.createme.tk/post.html','Самая крутая панда в мире.')"></button>
        <button class="b-social__icon icon18 pr-tooltip" title="Поделиться Google+" onclick="Share.gplus('http://p125.createme.tk/post.html')"></button>
        <button class="b-social__icon icon19 pr-tooltip" title="Поделиться Mail.ru" onclick="Share.mailru('http://p125.createme.tk/post.html','Китайская панда','http://p125.createme.tk/images/ipc.png','Самая крутая панда в мире.')"></button>
    </span>
    <div class="b-post__rating">
        <span class="add icon24 pr-tooltip" title="Понравилось"></span>9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
    </div>
</div>