@@include('blocks/_b-header.html')
@@include('blocks/_b-sidebar.html')
<div class="container maximized">
    <div class="b-page">
        <article class="b-post">
            <h2 class="b-post__title">Пост добра на iPanda.Club<button class="b-post__copylink pr-copy pr-tooltip" data-clipboard-text="http://post.link/1/" title="Скопировать ссылку на пост"></button></h2>
            <div class="b-post__detalis">
                <span class="b-post__detalis-i b-post__author icon20"><a href="index.html">Сергеенко Андрей</a></span>
                <span class="b-post__detalis-i icon23">275,23</span>
                <time class="b-post__detalis-i icon4">2014-09-09</time>
                <span class="b-post__detalis-i icon22">21 <a class="anim-scroll" href="#comments">комментарий</a></span>
            </div>
            <div class="b-post__content b-text b-post__content_full">
                <p>Все, что дети делают, они делают искренне и от чистого сердца. Даже когда раскрашивают синей краской ваш белый ковер или измазываются по уши в грязи. Так они познают мир. Взахлеб и ни секунды не задумываясь о последствиях.</p>
                <div class="b-post__image">
                    <img src="images/content/img2.jpg" alt="alt"/>
                    <span class="original"><a href="#">lj3</a></span>
                    <p class="description">Так выглядят 5 минут тишины.</p>
                </div>
                <div class="b-post__image">
                    <img src="images/content/img3.jpg" alt="alt"/>
                    <span class="original"><a href="#">lj3</a></span>
                    <p class="description">Маленькие дети не спят. Они просто лежат на подзарядке.</p>
                </div>
                <div class="b-post__image">
                    <img src="images/content/img4.jpg" alt="alt"/>
                    <span class="original"><a href="#">lj3</a></span>
                    <p class="description">Холст, масло, ремень, жопа.</p>
                </div>
                <div class="b-post__image">
                    <img src="images/content/img5.jpg" alt="alt"/>
                    <span class="original"><a href="#">lj3</a></span>
                    <p class="description">Мама, я немножко испачкалась</p>
                </div>
                <p>iPanda.Club предлагает меньше их за это ругать и почаще смеяться над невинными детскими проделками.</p>
            </div>
            <div class="b-post__bottom">
                <span class="b-post__detalis-i icon22">21 комментарий</span>
                <span class="b-post__detalis-i icon21"><a href="#">В избранное</a></span>
                <span class="b-post__detalis-i b-post__detalis-i_share">Поделиться
                    <button class="b-social__icon icon15 pr-tooltip" title="Поделиться Вконтакте" onclick="Share.vkontakte('http://p125.createme.tk/post.html','Китайская панда','http://p125.createme.tk/images/ipc.png','Самая крутая панда в мире.')"></button>
                    <button class="b-social__icon icon16 pr-tooltip" title="Поделиться Facebook" onclick="Share.facebook('http://p125.createme.tk/post.html')"></button>
                    <button class="b-social__icon icon17 pr-tooltip" title="Поделиться Однокласники" onclick="Share.odnoklassniki('http://p125.createme.tk/post.html','Самая крутая панда в мире.')"></button>
                    <button class="b-social__icon icon18 pr-tooltip" title="Поделиться Google+" onclick="Share.gplus('http://p125.createme.tk/post.html')"></button>
                    <button class="b-social__icon icon19 pr-tooltip" title="Поделиться Mail.ru" onclick="Share.mailru('http://p125.createme.tk/post.html','Китайская панда','http://p125.createme.tk/images/ipc.png','Самая крутая панда в мире.')"></button>
                </span>
                <div class="b-post__rating">
                    <span class="add icon24 pr-tooltip" title="Понравилось"></span>9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
                </div>
            </div>
        </article>
        <script>
            //Данный код нужно удалить. Он для демонстрации
            jQuery(document).ready(function() {
                editButtonCount($('.js-editbtn'), 30);
            });
        </script>

        <div class="b-comments" id="comments">
            <div class="b-comments__item">
                <div class="b-comments__avatar"><img src="images/content/avatar_3.jpg" alt="" width="65" height="65"/></div>
                <div class="b-comments__content">
                    <div class="b-comments__header">
                        <span class="b-post__detalis-i icon20"><a href="index.html">Сергеенко Андрей</a></span>
                        <span class="b-post__detalis-i icon4">2014-09-09</span>
                        <div class="b-post__rating">
                            <span class="add icon24 pr-tooltip" title="Понравилось"></span>-9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
                        </div>
                    </div>
                    <div class="b-comments__text b-text b-text_comment hide">
                        <p>Умножение вектора на число естественно проецирует натуральный логарифм. Интеграл от функции, обращающейся в бесконечность в изолированной точке программирует комплексный ротор векторного поля. Абсолютно сходящийся ряд, как следует из вышесказанного, реально продуцирует двойной интеграл. Геодезическая линия привлекает коллинеарный степенной ряд.</p>
                    </div>
                    <div class="b-comments__nrati">
                        <p>Низкий рейтинг комментария. <a class="b-comments__show-nrati" href="#">Показать коментарий</a></p>
                    </div>
                    <div class="b-comments__bottom">
                        <div class="row">
                            <div class="left">
                                <button class="pr-button js-reply">Ответить</button>
                            </div>
                            <div class="right">
                                <button class="pr-button pr-button_gray js-editbtn">Редактировать 30 сек</button>
                                <button class="pr-button pr-button_dark" onclick="alert('Этот комментарий теперь здесь будет пока человечество существеует.')">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-comments__item">
                    <div class="b-comments__avatar"><img src="images/content/avatar_3.jpg" alt="" width="65" height="65"/></div>
                    <div class="b-comments__content">
                        <div class="b-comments__header">
                            <span class="b-post__detalis-i icon20"><a href="index.html">Сергеенко Андрей</a></span>
                            <span class="b-post__detalis-i icon4">2014-09-09</span>
                            <div class="b-post__rating">
                                <span class="add icon24 pr-tooltip" title="Понравилось"></span>9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
                            </div>
                        </div>
                        <div class="b-comments__text b-text b-text_comment"><p>Умножение вектора на число естественно проецирует натуральный логарифм. Интеграл от функции, обращающейся в бесконечность в изолированной точке программирует комплексный ротор векторного поля. Абсолютно сходящийся ряд, как следует из вышесказанного, реально продуцирует двойной интеграл. Геодезическая линия привлекает коллинеарный степенной ряд.</p></div>
                        <div class="b-comments__bottom">
                            <div class="row">
                                <div class="left">
                                    <button class="pr-button js-reply">Ответить</button>
                                </div>
                                <div class="right">
                                    <button class="pr-button pr-button_dark" onclick="alert('Этот комментарий теперь здесь будет пока человечество существеует.')">Удалить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-comments__item">
                        <div class="b-comments__avatar"><img src="images/content/avatar_3.jpg" alt="" width="65" height="65"/></div>
                        <div class="b-comments__content">
                            <div class="b-comments__header">
                                <span class="b-post__detalis-i icon20"><a href="index.html">Сергеенко Андрей</a></span>
                                <span class="b-post__detalis-i icon4">2014-09-09</span>
                                <div class="b-post__rating">
                                    <span class="add icon24 pr-tooltip" title="Понравилось"></span>9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
                                </div>
                            </div>
                            <div class="b-comments__text b-text b-text_comment"><p>Умножение вектора на число естественно проецирует натуральный логарифм. Интеграл от функции, обращающейся в бесконечность в изолированной точке программирует комплексный ротор векторного поля. Абсолютно сходящийся ряд, как следует из вышесказанного, реально продуцирует двойной интеграл. Геодезическая линия привлекает коллинеарный степенной ряд.</p></div>
                            <div class="b-comments__bottom">
                                <div class="row">
                                    <div class="left">
                                        <button class="pr-button js-reply">Ответить</button>
                                    </div>
                                    <div class="right">
                                        <button class="pr-button pr-button_dark" onclick="alert('Этот комментарий теперь здесь будет пока человечество существеует.')">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-comments__item">
                            <div class="b-comments__avatar"><img src="images/content/avatar_3.jpg" alt="" width="65" height="65"/></div>
                            <div class="b-comments__content">
                                <div class="b-comments__header">
                                    <span class="b-post__detalis-i icon20"><a href="index.html">Сергеенко Андрей</a></span>
                                    <span class="b-post__detalis-i icon4">2014-09-09</span>
                                    <div class="b-post__rating">
                                        <span class="add icon24 pr-tooltip" title="Понравилось"></span>9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
                                    </div>
                                </div>
                                <div class="b-comments__text b-text b-text_comment"><p>Умножение вектора на число естественно проецирует натуральный логарифм. Интеграл от функции, обращающейся в бесконечность в изолированной точке программирует комплексный ротор векторного поля. Абсолютно сходящийся ряд, как следует из вышесказанного, реально продуцирует двойной интеграл. Геодезическая линия привлекает коллинеарный степенной ряд.</p></div>
                                <div class="b-comments__bottom">
                                    <div class="row">
                                        <div class="left">
                                            <button class="pr-button js-reply">Ответить</button>
                                        </div>
                                        <div class="right">
                                            <button class="pr-button pr-button_dark" onclick="alert('Этот комментарий теперь здесь будет пока человечество существеует.')">Удалить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-comments__item">
                                <div class="b-comments__avatar"><img src="images/content/avatar_3.jpg" alt="" width="65" height="65"/></div>
                                <div class="b-comments__content">
                                    <div class="b-comments__header">
                                        <span class="b-post__detalis-i icon20"><a href="index.html">Сергеенко Андрей</a></span>
                                        <span class="b-post__detalis-i icon4">2014-09-09</span>
                                        <div class="b-post__rating">
                                            <span class="add icon24 pr-tooltip" title="Понравилось"></span>9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
                                        </div>
                                    </div>
                                    <div class="b-comments__text b-text b-text_comment"><p>Умножение вектора на число естественно проецирует натуральный логарифм. Интеграл от функции, обращающейся в бесконечность в изолированной точке программирует комплексный ротор векторного поля. Абсолютно сходящийся ряд, как следует из вышесказанного, реально продуцирует двойной интеграл. Геодезическая линия привлекает коллинеарный степенной ряд.</p></div>
                                    <div class="b-comments__bottom">
                                        <div class="row">
                                            <div class="left">
                                                <button class="pr-button js-reply">Ответить</button>
                                            </div>
                                            <div class="right">
                                                <button class="pr-button pr-button_dark" onclick="alert('Этот комментарий теперь здесь будет пока человечество существеует.')">Удалить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-comments__item">
                                <div class="b-comments__avatar"><img src="images/content/avatar_3.jpg" alt="" width="65" height="65"/></div>
                                <div class="b-comments__content">
                                    <div class="b-comments__header">
                                        <span class="b-post__detalis-i icon20"><a href="index.html">Сергеенко Андрей</a></span>
                                        <span class="b-post__detalis-i icon4">2014-09-09</span>
                                        <div class="b-post__rating">
                                            <span class="add icon24 pr-tooltip" title="Понравилось"></span>9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
                                        </div>
                                    </div>
                                    <div class="b-comments__text b-text b-text_comment"><p>Умножение вектора на число естественно проецирует натуральный логарифм. Интеграл от функции, обращающейся в бесконечность в изолированной точке программирует комплексный ротор векторного поля. Абсолютно сходящийся ряд, как следует из вышесказанного, реально продуцирует двойной интеграл. Геодезическая линия привлекает коллинеарный степенной ряд.</p></div>
                                    <div class="b-comments__bottom">
                                        <div class="row">
                                            <div class="left">
                                                <button class="pr-button js-reply">Ответить</button>
                                            </div>
                                            <div class="right">
                                                <button class="pr-button pr-button_dark" onclick="alert('Этот комментарий теперь здесь будет пока человечество существеует.')">Удалить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-comments__item">
                                <div class="b-comments__avatar"><img src="images/content/avatar_3.jpg" alt="" width="65" height="65"/></div>
                                <div class="b-comments__content">
                                    <div class="b-comments__header">
                                        <span class="b-post__detalis-i icon20"><a href="index.html">Сергеенко Андрей</a></span>
                                        <span class="b-post__detalis-i icon4">2014-09-09</span>
                                        <div class="b-post__rating">
                                            <span class="add icon24 pr-tooltip" title="Понравилось"></span>9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
                                        </div>
                                    </div>
                                    <div class="b-comments__text b-text b-text_comment"><p>Умножение вектора на число естественно проецирует натуральный логарифм. Интеграл от функции, обращающейся в бесконечность в изолированной точке программирует комплексный ротор векторного поля. Абсолютно сходящийся ряд, как следует из вышесказанного, реально продуцирует двойной интеграл. Геодезическая линия привлекает коллинеарный степенной ряд.</p></div>
                                    <div class="b-comments__bottom">
                                        <div class="row">
                                            <div class="left">
                                                <button class="pr-button js-reply">Ответить</button>
                                            </div>
                                            <div class="right">
                                                <button class="pr-button pr-button_dark" onclick="alert('Этот комментарий теперь здесь будет пока человечество существеует.')">Удалить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-comments__item">
                                    <div class="b-comments__avatar"><img src="images/content/avatar_3.jpg" alt="" width="65" height="65"/></div>
                                    <div class="b-comments__content">
                                        <div class="b-comments__header">
                                            <span class="b-post__detalis-i icon20"><a href="index.html">Сергеенко Андрей</a></span>
                                            <span class="b-post__detalis-i icon4">2014-09-09</span>
                                            <div class="b-post__rating">
                                                <span class="add icon24 pr-tooltip" title="Понравилось"></span>9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
                                            </div>
                                        </div>
                                        <div class="b-comments__text b-text b-text_comment"><p>Умножение вектора на число естественно проецирует натуральный логарифм. Интеграл от функции, обращающейся в бесконечность в изолированной точке программирует комплексный ротор векторного поля. Абсолютно сходящийся ряд, как следует из вышесказанного, реально продуцирует двойной интеграл. Геодезическая линия привлекает коллинеарный степенной ряд.</p></div>
                                        <div class="b-comments__bottom">
                                            <div class="row">
                                                <div class="left">
                                                    <button class="pr-button js-reply">Ответить</button>
                                                </div>
                                                <div class="right">
                                                    <button class="pr-button pr-button_dark" onclick="alert('Этот комментарий теперь здесь будет пока человечество существеует.')">Удалить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-comments__item">
                                        <div class="b-comments__avatar"><img src="images/content/avatar_3.jpg" alt="" width="65" height="65"/></div>
                                        <div class="b-comments__content">
                                            <div class="b-comments__header">
                                                <span class="b-post__detalis-i icon20"><a href="index.html">Сергеенко Андрей</a></span>
                                                <span class="b-post__detalis-i icon4">2014-09-09</span>
                                                <div class="b-post__rating">
                                                    <span class="add icon24 pr-tooltip" title="Понравилось"></span>9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
                                                </div>
                                            </div>
                                            <div class="b-comments__text b-text b-text_comment"><p>Умножение вектора на число естественно проецирует натуральный логарифм. Интеграл от функции, обращающейся в бесконечность в изолированной точке программирует комплексный ротор векторного поля. Абсолютно сходящийся ряд, как следует из вышесказанного, реально продуцирует двойной интеграл. Геодезическая линия привлекает коллинеарный степенной ряд.</p></div>
                                            <div class="b-comments__bottom">
                                                <div class="row">
                                                    <div class="left">
                                                        <button class="pr-button js-reply">Ответить</button>
                                                    </div>
                                                    <div class="right">
                                                        <button class="pr-button pr-button_dark" onclick="alert('Этот комментарий теперь здесь будет пока человечество существеует.')">Удалить</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="b-comments__item">
                        <div class="b-comments__avatar"><img src="images/content/avatar_3.jpg" alt="" width="65" height="65"/></div>
                        <div class="b-comments__content">
                            <div class="b-comments__header">
                                <span class="b-post__detalis-i icon20"><a href="index.html">Сергеенко Андрей</a></span>
                                <span class="b-post__detalis-i icon4">2014-09-09</span>
                                <div class="b-post__rating">
                                    <span class="add icon24 pr-tooltip" title="Понравилось"></span>9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
                                </div>
                            </div>
                            <div class="b-comments__text b-text b-text_comment"><p>Умножение вектора на число естественно проецирует натуральный логарифм. Интеграл от функции, обращающейся в бесконечность в изолированной точке программирует комплексный ротор векторного поля. Абсолютно сходящийся ряд, как следует из вышесказанного, реально продуцирует двойной интеграл. Геодезическая линия привлекает коллинеарный степенной ряд.</p></div>
                            <div class="b-comments__bottom">
                                <div class="row">
                                    <div class="left">
                                        <button class="pr-button js-reply">Ответить</button>
                                    </div>
                                    <div class="right">
                                        <button class="pr-button pr-button_dark" onclick="alert('Этот комментарий теперь здесь будет пока человечество существеует.')">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-comments__item">
                        <div class="b-comments__avatar"><img src="images/content/avatar_3.jpg" alt="" width="65" height="65"/></div>
                        <div class="b-comments__content">
                            <div class="b-comments__header">
                                <span class="b-post__detalis-i icon20"><a href="index.html">Сергеенко Андрей</a></span>
                                <span class="b-post__detalis-i icon4">2014-09-09</span>
                                <div class="b-post__rating">
                                    <span class="add icon24 pr-tooltip" title="Понравилось"></span>9,99<span class="remove icon25 pr-tooltip" title="Не понравилось"></span>
                                </div>
                            </div>
                            <div class="b-comments__text b-text b-text_comment"><p>Умножение вектора на число естественно проецирует натуральный логарифм. Интеграл от функции, обращающейся в бесконечность в изолированной точке программирует комплексный ротор векторного поля. Абсолютно сходящийся ряд, как следует из вышесказанного, реально продуцирует двойной интеграл. Геодезическая линия привлекает коллинеарный степенной ряд.</p></div>
                            <div class="b-comments__bottom">
                                <div class="row">
                                    <div class="left">
                                        <button class="pr-button js-reply">Ответить</button>
                                    </div>
                                    <div class="right">
                                        <button class="pr-button pr-button_dark" onclick="alert('Этот комментарий теперь здесь будет пока человечество существеует.')">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-comments__write">
                <form action="/">
                    <div class="b-comments__avatar"><img src="images/content/avatar_4.jpg" alt="" width="65" height="65"/></div>
                    <div class="b-comments__content">
                        <div class="name">Харунжий Илья Иловайский</div>
                        <div class="b-comments__newarea">
                            <textarea placeholder="Что вы думаете об этом?!" rows="5"></textarea>
                        </div>
                        <div class="b-comments__bottom">
                            <div class="row">
                                <div class="left">
                                    <button type="button" class="pr-button">Отправить</button>
                                </div>
                                <div class="right">
                                    <input class="js-file pr-file pr-file_gray" type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- http://www.jsviews.com/ -->
<script id="template_reply" type="text/x-jsrender">
        <div class="b-comments__write js-reply__block">
            <form action="/">
                <div class="b-comments__avatar"><img src="images/content/avatar_4.jpg" alt="" width="65" height="65"/></div>
                <div class="b-comments__content">
                    <div class="name">Харунжий Илья Иловайский</div>
                    <div class="b-comments__newarea">
                        <textarea placeholder="Что вы думаете об этом?!" rows="5"></textarea>
                    </div>
                    <div class="b-comments__bottom">
                        <div class="row">
                            <div class="left">
                                <button type="button" class="pr-button">Отправить</button>
                            </div>
                            <div class="right">
                                <input class="js-file pr-file pr-file_gray" type="file">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</script>
@@include('blocks/_b-footer.html')