@@include('blocks/_b-header.html')
@@include('blocks/_b-sidebar.html')
<div class="container maximized">
    <div class="b-page">
        <h1 class="b-page__title">Рейтинг пользователей</h1>
        <table class="b-table">
            <thead>
            <tr>
                <th>Имя / Никнейм</th>
                <th>Посты</th>
                <th class="b-table__comment">Комментарии</th>
                <th class="b-table__rait">Рейтинг</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="b-user">
                        <img class="b-user__avatar" src="images/content/avatar_2.jpg" alt="Сергеенко Андрей" width="40" height="40"/>
                        <div class="b-user__content">
                            <span class="b-user__name"><a href="index.html">Сергеенко Андрей</a></span>
                            <span class="b-user__regdate">Зарегистрирован 2014-09-09</span>
                        </div>
                    </div>
                </td>
                <td><a href="index.html">2111</a></td>
                <td><a href="notice.html">211</a></td>
                <td>275,19</td>
            </tr>
            <tr>
                <td>
                    <div class="b-user">
                        <img class="b-user__avatar" src="images/content/avatar_3.jpg" alt="Сергеенко Андрей" width="40" height="40"/>
                        <div class="b-user__content">
                            <span class="b-user__name"><a href="index.html">Сергеенко Андрей</a></span>
                            <span class="b-user__regdate">Зарегистрирован 2014-09-09</span>
                        </div>
                    </div>
                </td>
                <td><a href="index.html">2111</a></td>
                <td><a href="notice.html">211</a></td>
                <td>275,19</td>
            </tr>
            <tr>
                <td>
                    <div class="b-user">
                        <img class="b-user__avatar" src="images/content/avatar_4.jpg" alt="Сергеенко Андрей" width="40" height="40"/>
                        <div class="b-user__content">
                            <span class="b-user__name"><a href="index.html">Сергеенко Андрей</a></span>
                            <span class="b-user__regdate">Зарегистрирован 2014-09-09</span>
                        </div>
                    </div>
                </td>
                <td><a href="index.html">2111</a></td>
                <td><a href="notice.html">211</a></td>
                <td>275,19</td>
            </tr>
            <tr>
                <td>
                    <div class="b-user">
                        <img class="b-user__avatar" src="images/content/avatar_2.jpg" alt="Сергеенко Андрей" width="40" height="40"/>
                        <div class="b-user__content">
                            <span class="b-user__name"><a href="index.html">Сергеенко Андрей</a></span>
                            <span class="b-user__regdate">Зарегистрирован 2014-09-09</span>
                        </div>
                    </div>
                </td>
                <td><a href="index.html">2111</a></td>
                <td><a href="notice.html">211</a></td>
                <td>275,19</td>
            </tr>
            <tr>
                <td>
                    <div class="b-user">
                        <img class="b-user__avatar" src="images/content/avatar_3.jpg" alt="Сергеенко Андрей" width="40" height="40"/>
                        <div class="b-user__content">
                            <span class="b-user__name"><a href="index.html">Сергеенко Андрей</a></span>
                            <span class="b-user__regdate">Зарегистрирован 2014-09-09</span>
                        </div>
                    </div>
                </td>
                <td><a href="index.html">2111</a></td>
                <td><a href="notice.html">211</a></td>
                <td>275,19</td>
            </tr>
            <tr>
                <td>
                    <div class="b-user">
                        <img class="b-user__avatar" src="images/content/avatar_4.jpg" alt="Сергеенко Андрей" width="40" height="40"/>
                        <div class="b-user__content">
                            <span class="b-user__name"><a href="index.html">Сергеенко Андрей</a></span>
                            <span class="b-user__regdate">Зарегистрирован 2014-09-09</span>
                        </div>
                    </div>
                </td>
                <td><a href="index.html">2111</a></td>
                <td><a href="notice.html">211</a></td>
                <td>275,19</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
@@include('blocks/_b-footer.html')