.b-header{
    &__top{
        background-color: $color_3;
        padding: em(10) em(330) em(10) em(49);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        box-sizing: border-box;
    }
    &__bottom{
        background-color: $color_1;
        padding: 0 0 em(1);
        position: fixed;
        top: em(49);
        left: 0;
        z-index: 40;
        width: 100%;
        box-sizing: border-box;
    }
    &__search{
        display: block;
        position: relative;
        padding: 0 em(28) 0 0;
        background-color: $color_1;
        .field{
            color: $color_7;
            $font-size: 13;
            font-size: em($font-size);
            display: block;
            padding: em(7, $font-size) em(14, $font-size);
            margin: 0;
            width: 100%;
            background-color: transparent;
            border: none;
        }
        .submit{
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            border: none;
            background-color: transparent;
            background-position: 0 50%;
            z-index: 10;
            width: 28px;
            height: 100%;
            background-repeat: no-repeat;
        }
    }
    &__osidebar{
        position: absolute;
        display: block;
        width: 49px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
    }
    &__logo{
        margin: 0 em(35);
        float: left;
        img{
            display: block;
        }
    }
    &__right{
        position: absolute;
        right: 0;
        top: em(10);
        padding: 0 em(24) 0 0;
    }
    &__addpost{
        display: inline-block;
        box-sizing: border-box;
        $font-size: 13;
        font-size: em($font-size);
        color: $color_1;
        font-weight: 700;
        text-transform: uppercase;
        border: 1px solid $color_1;
        text-decoration: none;
        padding: em(4, $font-size) em(10, $font-size);
        transition: background-color .3s, color .3s;
        &:hover{
            color: $color_3;
            background-color: $color_1;
        }
    }
    &__notice{
        color: $color_6;
        $font-size: 13;
        font-size: em($font-size);
        display: inline-block;
        padding: em(6, $font-size) 0 em(5, $font-size) em(25, $font-size);
        text-decoration: none;
        margin-left: em(28, $font-size);
        background-repeat: no-repeat;
        background-position: 0 50%;
    }
    &__middle{
        overflow: hidden;
    }
    &__social{
        text-align: center;
        .icon{
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin: em(2) em(3);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
            opacity: .5;
        }
    }
}

@media (max-width: 910px){
    .b-header{
        &__top{
            position: absolute;
        }
        &__bottom{
            position: absolute;
        }
    }
}