.b-social{
    &__icon{
        display: inline-block;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border:none;
        background-color: transparent;
        margin: 0;
        cursor: pointer;
        vertical-align: middle;
        margin: 0 0 0 2px;
    }
}